div.span12
  //div.map(ui-map="myMap",ui-options="mapOptions",ui-event="{'map-idle' : 'onMapIdle()'}")
  //div(ng-repeat="marker in myMarkers",ui-map-marker="myMarkers[$index]",ui-event="{'map-click': 'markerClicked(marker)'}")
  textarea {{model}}