div.item(ng-repeat="d in recentMoments",ng-animate="{enter: 'fade-show'}")
  div.row
    div.span12
      h3 
        a(ng-href='#/v/{{d._id}}') {{d.title}}
      h4 {{d.placeTitle}}
      h5.muted {{d.dateFormatted}}

  div.row(ng-href='/v/{{d._id}}')
    div.span12
      a(ng-href='#/v/{{d._id}}')
        img.img-large(ng-src="{{d.imgLink}}", style="max-height:500px")